packages
/HashTableTests/bin
obj
bin
/.vs/DataStructures/v16/.suo
/.vs/DataStructures/v16/Server/sqlite3/db.lock
/.vs/DataStructures/v16/Server/sqlite3/storage.ide
/.vs/DataStructures/v16/Server/sqlite3/storage.ide-shm
/.vs/DataStructures/v16/Server/sqlite3/storage.ide-wal
